// Wiggle effect
@keyframes shake{
    0% { transform: translate(0px, 0px) rotate(0deg); }
    25% { transform: translate(1px, 1px) rotate(1deg); }
    50% { transform: translate(-1px, -1px) rotate(-1deg); }
    75% { transform: translate(2px, -1px) rotate(2deg); }
    100% { transform: translate(-1px, 1px) rotate(-1deg); }
}

// Points prochainement
@keyframes bounce {
    20% { 
        height: 5px; 
        width: 5px;
        transform: translateY(0px);
     }
    50% { 
        height: 7px; 
        width: 5px; 
        transform: translateY(-5px);
    }
}