// FULL MENUS -1234-

.premier_titre {
    font-size: 1.6em;
    font-family: sans-serif;
}

.menu_complet {
    @include box-shadow();
    @include margin-bottom (70%, auto);
    max-width: 1200px;
    padding: 80px 0;
    ul {
        margin: 0 80px;
        padding: 0;
    }
    li {
        display: flex;
        justify-content: space-between;
        & p:nth-child(2) {
            margin-left: 25px;
        }
    }
    h3 {
        margin: 50px 80px 0;
        display: flex;
        &::before, &::after {
            content: "";
            width: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
    span {
        font-size: 1em;
        margin: 0 30px;
        white-space: nowrap;
    }
    span::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        transition: width .3s;
    }
    span:hover::after {
        width: 100%;
    }
}

// PAGE LA NOTE ENCHANTEE 1

#menu_note {
    background-color: $backgroundmenu1;
    >i{
        display: block;
        text-align: center;
        font-size: 60px;
        + h2 {
            font-size: 2.5em;
            margin: 0;
        }
    }
    i::before {
        @include icon-musique();
    }
    i:last-child {
        margin-right: 10px;
        font-size: 40px;
    }
    h2:last-child {
        font-size: 2em;
        margin: 0;
        margin-top: 50px;
    }
    h2 {
        font-family: $devonshire;
        font-weight: 400;
    }
    h3 {
        &::before {
            background-image: url("../lignes_menus/note1.png");
        }
        &::after {
            background-image: url("../lignes_menus/note2.png");
        }
    span {
        font-family: $kalam;
    }    
    }
    span::after {
        background: black;
    }
    p {
        font-family: $kalam;
    }
    li p:nth-child(2) {
        font-weight: 600;
    }
}


// PAGE LE CHIC A LA FRANCAISE 2

#menu_chic {
    background-color: $backgroundmenu2;
    h2 {
        @include titre-chic();
        font-size: 2em;
    }
    h3:nth-of-type(1) {
        &::before {
            background-image: url("../lignes_menus/chic1a.png");
        }
        &::after {
            background-image: url("../lignes_menus/chic1b.png");
        }
        span::after {
            background: $menu2entree;
        }
        span {
            color: $menu2entree;
        }
    }
    h3:nth-of-type(2) {
        &::before {
            background-image: url("../lignes_menus/chic2a.png");
        }
        &::after {
            background-image: url("../lignes_menus/chic2b.png");
        }
        span::after {
            background: $menu2repas;
        }
        span {
            color: $menu2repas;
        }
    }
    h3:nth-of-type(3) {
        &::before {
            background-image: url("../lignes_menus/chic3a.png");
        }
        &::after {
            background-image: url("../lignes_menus/chic3b.png");
        }
        span::after {
            background: $menu2dessert;
        }
        span {
            color: $menu2dessert;
        }
    }
    ul:nth-of-type(1) {
        color: $menu2entree;
    }
    ul:nth-of-type(2) {
        color: $menu2repas;
    }
    ul:nth-of-type(3) {
        color: $menu2dessert;
    }
    li p:nth-child(2) {
        font-size: 1.1em;
    }
}

// PAGE LE DELICE DES PAPILLES 3

#menu_delice {
    background-color: $backgroundmenu3;
    h2 {
        @include titre-delice();
        font-size: 2.5em;
    }
    h3, p {
        font-family:$kalam;
        font-weight: 400;
    }
    h3:nth-of-type(1) {
        &::before {
            background-image: url("../lignes_menus/delice1a.png");
        }
        &::after {
            background-image: url("../lignes_menus/delice1b.png");
        }
        span::after {
            background: $menu3entree;
        }
        span {
            color: $menu3entree;
        }
    }
    h3:nth-of-type(2) {
        &::before {
            background-image: url("../lignes_menus/delice2a.png");
        }
        &::after {
            background-image: url("../lignes_menus/delice2b.png");
        }
        span::after {
            background: $menu3repas;
        }
        span {
            color: $menu3repas;
        }
    }
    h3:nth-of-type(3) {
        &::before {
            background-image: url("../lignes_menus/delice3a.png");
        }
        &::after {
            background-image: url("../lignes_menus/delice3b.png");
        }
        span::after {
            background: $menu3dessert;
        }
        span {
            color: $menu3dessert;
        }
    }
    li p:nth-child(2) {
        font-size: 1.1em;
    }
}

// PAGE LA PALETTE DU GOUT 4

#menu_palette {
    background-color: $backgroundmenu4;
    h2 {
        @include titre-palette();
        font-size: 2.5em;
    }
    h3, p {
        font-family: $kalam;
        font-weight: 400;
        &::before {
            background-image: url("../lignes_menus/palette1.png");
        }
        &::after {
            background-image: url("../lignes_menus/palette2.png");
        }
    }
    span::after {
        background: rgb(101, 180, 79);
    }
    li p:nth-child(2) {
        font-size: 1.1em;
    }
}