// Header

header {
    background-color: $vert;
    display: flex;
    h1 {
        color: $jaune;
        margin: 50px auto;
        font-size: 5em;
        font-family: sans-serif;
    }
    a:hover {
        text-shadow: rgb(185, 134, 0) 2px 2px;
    }
}

// Footer

footer {
    @include display-flex(space-between);
    background-color: $vert;
    font-family: $montserrat;
    font-size: 1.5em;
    bottom: 0;
    width: 100%;
    position: fixed;
    a {
        color: $jaune;
        font-family: $montserrat;
        width: 300px;
        margin: 30px 0;
        &:hover {
            animation: shake .5s infinite;
        }
    }
}

// Page mentions légales
#mentions_legales {
    @include margin-bottom (70%, auto);
    text-align: center;
    margin: 50px auto;  
}