#quatre_menus {
    margin: 50px 150px;
    div {
        display: flex;
        div {
            @include box-shadow();
            height: 400px;
            margin: 30px;
            width: 100%;
        }
    }
    a {
        @include display-flex(center);
        margin: 15px;
        flex-direction: column;
        transition: 0.4s;
        &:hover {
            transition: 0.8s;
            transform: scale(1.1);
            opacity: 0.60;
        }
    } 
    h3 {
        font-size: 2.75em;
        margin: 0;
    }
}

#menu1 {
    background-color: $backgroundmenu1;
    h2 {
    color: $petitmenu1;
    font-family: $devonshire;
    font-size: 2.75em;
    font-weight: 400;
    margin: 0;
    }
    h3 {
        font-family: $kalam;
        color: $petitmenu1;
    }
    i::before {
        @include icon-musique();
        font-size: 50px;
    }
}

#menu2 {
    background-color: $backgroundmenu2;
    h2 {
        @include titre-chic();
        font-size: 1.75em;
    }
    h3 {
        font-family: $librecaslon;
        color: rgb(199, 116, 18);
    }
}

#menu3 {
    background-color: $backgroundmenu3;
    h2 {
        @include titre-delice();
        font-size: 2.25em;
    }
    h3 {
    color: rgb(8, 135, 251);
    font-family: $kalam;
    font-weight: 400;
    }
}

#menu4 {
    background-color: $backgroundmenu4;
    h2 {
        @include titre-palette();
        font-size: 2em;
    }
    h3 {
        color: rgb(114, 191, 86);
        font-family: $kalam;
        font-weight: 400;
    }
}

#prochainement {
    display: flex;
    p {
        @include margin-bottom (auto, auto);
        color: $jaune;
        font-family: $montserrat;
        font-size: 1.5em;
        background-color: $vert;
        border-radius: 10px;
        padding: 10px 30px;
    }
    span {
        width: 5px;
        height: 5px;
        background-color: $jaune;
        border-radius: 50%;
        display: inline-block;
        animation: bounce 1s infinite;
        &:nth-child(2) {
            animation-delay: 0.2s;
        }
        &:nth-child(3) {
            animation-delay: 0.4s;
        }
    }
}