// Variables
$jaune: rgb(253, 203, 70);
$vert: rgb(87, 156, 135);

$backgroundmenu1: rgb(252, 223, 219);
$backgroundmenu2: rgb(255, 245, 254);
$backgroundmenu3: rgb(235, 238, 239);
$backgroundmenu4: rgb(253, 255, 253);
$petitmenu1: rgb(61, 19, 25);

$menu2entree: rgb(198, 116, 18);
$menu2repas: rgb(165, 103, 153);
$menu2dessert: rgb(110, 76, 204);

$menu3entree: rgb(2, 40, 221);
$menu3repas: rgb(6, 112, 243);
$menu3dessert: rgb(34, 157, 249);

$kalam: 'Kalam', cursive;
$croissant: 'Croissant One', cursive;
$devonshire: 'Devonshire', cursive;
$kaushan: 'Kaushan Script', cursive;
$librecaslon: 'Libre Caslon Text', serif;
$montserrat: 'Montserrat', sans-serif;
$parisienne: 'Parisienne', cursive;


// Mixins
@mixin a-link {
    text-decoration: none;
    width: 100%;
}

@mixin display-flex ($justifycontent){
    display: flex;
    text-align: center;
    justify-content: $justifycontent;
}

@mixin box-shadow {
    box-shadow: 0.5px 0.5px 5px grey;  
}

@mixin margin-bottom ($width, $margin) {
    width: $width;
    margin: $margin;
    margin-bottom: 125px;
}

@mixin icon-musique {
    background: linear-gradient(to right, rgba(249, 66, 77, 1), rgba(249, 161, 130, 0.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin titre-chic {
    font-family: $croissant;
    background: linear-gradient(to right, rgba(198, 116, 18, 0.9) 25%, rgba(165, 103, 153, 0.9) 50%, rgba(110, 76, 204, 0.9) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin titre-delice {
    font-family: $parisienne;
    background: linear-gradient(to right, rgb(4, 49, 223) 15%, rgb(84, 222, 253));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

@mixin titre-palette {
    font-family: $kaushan;
    background: linear-gradient(to right, rgb(47, 105, 45), rgb(176, 232, 122), rgba(246, 255, 117, 0.58));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


