// *****VARIABLES*****
$jaune: rgb(253, 203, 70);
$vert: rgb(87, 156, 135);
$couleurmenu1: rgb(252, 223, 219);
$couleurmenu2: rgb(255, 245, 254);
$couleurmenu3: rgb(249, 249, 249);
$couleurmenu4: rgb(253, 255, 253);

// *****MIXINS*****
@mixin a-link {
    text-decoration: none;
    width: 100%;
}
@mixin display-flex ($justifycontent){
    display: flex;
    text-align: center;
    justify-content: $justifycontent;
}
@mixin box-shadow {
    box-shadow: 0.5px 0.5px 5px grey;  
}

// *****ANIMATIONS***** 
@keyframes shake{
    0% { transform: translate(0px, 0px) rotate(0deg); }
    25% { transform: translate(1px, 1px) rotate(1deg); }
    50% { transform: translate(-1px, -1px) rotate(-1deg); }
    75% { transform: translate(2px, -1px) rotate(2deg); }
    100% { transform: translate(-1px, 1px) rotate(-1deg); }
}

@keyframes bounce {
    20% { 
        height: 5px; 
        width: 5px;
        transform: translateY(0px);
     }
    50% { 
        height: 7px; 
        width: 5px; 
        transform: translateY(-5px);
    }
}

/* -----BODY----- */

body {
    margin: 0;
    & a {
        @include a-link;
    }
}

/* -----HEADER----- */

header {
    background-color: $vert;
    display: flex;
    & h1 {
        color: $jaune;
        margin: 50px auto;
        font-size: 60px;
        font-family: "breulgroteskA-regular", sans-serif;
    }
}

/* -----4MENUS PAGE PRINCIPAL + PROCHAINEMENT----- */

#quatre_menus {
    margin: 50px 150px;
    & div {
        display: flex;
        & div:first-child, & div:last-child {
            @include box-shadow();
            height: 450px;
            margin: 40px;
            width: 100%;
        }
    }
    & a {
        @include display-flex(center);
        margin: 10px;
        flex-direction: column;
        transition: 0.8s;
        &:hover {
            transition: transform 1s;
            transform: scale(1.1);
            opacity: 0.60;
        }
    } 
    & h2 {
        font-size: 30px;
    }
    & h3 {
        font-size: 45px;
        margin: 0;
        font-family: "tillana";
    }
}

#menu1 {
    & h3, & h2 {
    color: rgb(60, 18, 24);
    }
    & i {
        font-size: 50px;
        background: linear-gradient(to right, rgb(241, 88, 97), rgb(247, 143, 106));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

#menu2 {
    & h3 {
        color: rgb(199, 116, 18)
    }
    & h2 {
        background: linear-gradient(to right, rgb(199, 116, 18) 15%, rgb(182, 112, 148), rgb(157, 98, 209), rgb(144, 91, 253));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

#menu3 {
    & h3 {
    color: rgb(8, 135, 251)
    }
    & h2 {
        background: linear-gradient(to right, rgb(4, 49, 223), rgb(8, 135, 251));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

#menu4 {
    & h3 {
        color: rgb(114, 191, 86)
    }
    & h2 {
        background: linear-gradient(to right, rgb(61, 147, 57), rgb(191, 255, 126));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

#prochainement {
    display: flex;
    margin-bottom: 20px;
    & p {
    margin: auto;
    color: $jaune;
    font-size: 25px;
    background-color: $vert;
    border: 1px solid $vert;
    border-radius: 5px;
    padding: 5px 25px;
    margin-bottom: 125px;
    }
    span {
        width: 5px;
        height: 5px;
        background-color: $jaune;
        border-radius: 50%;
        display: inline-block;
        animation: bounce 1s infinite;
        &:nth-child(2) {
            animation-delay: 0.2s;
        }
        &:nth-child(3) {
            animation-delay: 0.4s;
        }
    }
}

/* -----FOOTER----- */

footer {
    @include display-flex(space-between);
    background-color: $vert;
    font-size: 20px;
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    & a {
        color: $jaune;
        font-family: "Montserrat";
        width: 300px;
        margin: 30px 0;
        &:hover {
            animation: shake .5s infinite;
        }
    }
}

/* -----PAGES HTML MENUS1234----- */
h2, h3 {
    text-align: center;
}

.menu_complet {
    @include box-shadow();
    margin: auto;
    width: 80%;
    padding: 80px 0;
    margin-bottom: 125px;
    & ul {
        margin: 50px 80px;
        padding: 0;
    }
    & li {
        @include display-flex(space-between);
    }
    & h3 {
        margin: 30px;
        display: flex;
    }
    & img {
        width: 20vw;
        margin: auto;
    }
    & span::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: black;
        transition: width .3s;
    }
    & span:hover::after {
        width: 100%;
        transition: width .3s;
    }
}

// -----PAGE LA NOTE ENCHANTEE 1-----//

#menu_note {
    background-color: $couleurmenu1;
    &>i{
        display: block;
        text-align: center;
        font-size: 50px;
    }
    & i:last-child {
        margin-right: 10px;
        font-size: 40px;
    }
}

// -----PAGE LE CHIC A LA FRANCAISE 2----- //

#menu_chic {
    background-color: $couleurmenu2;
}


// -----PAGE LE DELICE DES PAPILLES 3----- //

#menu_delice {
    background-color: $couleurmenu3;
}

// -----PAGE LA PALETTE DU GOUT 4----- //

#menu_palette {
    background-color: $couleurmenu4;
}


// -----PAGE MENTIONS LEGALES-----//
#mentions_legales {
    width: 70%;
    text-align: center;
    margin: 50px auto;  
    margin-bottom: 125px;
}