@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(1px, 1px) rotate(1deg);
            transform: translate(1px, 1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, -1px) rotate(-1deg);
            transform: translate(-1px, -1px) rotate(-1deg);
  }
  75% {
    -webkit-transform: translate(2px, -1px) rotate(2deg);
            transform: translate(2px, -1px) rotate(2deg);
  }
  100% {
    -webkit-transform: translate(-1px, 1px) rotate(-1deg);
            transform: translate(-1px, 1px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(1px, 1px) rotate(1deg);
            transform: translate(1px, 1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, -1px) rotate(-1deg);
            transform: translate(-1px, -1px) rotate(-1deg);
  }
  75% {
    -webkit-transform: translate(2px, -1px) rotate(2deg);
            transform: translate(2px, -1px) rotate(2deg);
  }
  100% {
    -webkit-transform: translate(-1px, 1px) rotate(-1deg);
            transform: translate(-1px, 1px) rotate(-1deg);
  }
}

@-webkit-keyframes bounce {
  0% {
    height: 5px;
    width: 5px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    height: 7px;
    width: 5px;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes bounce {
  0% {
    height: 5px;
    width: 5px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    height: 7px;
    width: 5px;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  width: 100%;
}

h1, h2, h3 {
  text-align: center;
}

header {
  background-color: #579c87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header h1 {
  color: #fdcb46;
  margin: 50px auto;
  font-size: 5em;
  font-family: sans-serif;
}

header a:hover {
  text-shadow: #b98600 2px 2px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #579c87;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  bottom: 0;
  width: 100%;
  position: fixed;
}

footer a {
  color: #fdcb46;
  font-family: "Montserrat", sans-serif;
  width: 300px;
  margin: 30px 0;
}

footer a:hover {
  -webkit-animation: shake .5s infinite;
          animation: shake .5s infinite;
}

#mentions_legales {
  width: 70%;
  margin: auto;
  margin-bottom: 125px;
  text-align: center;
  margin: 50px auto;
}

#quatre_menus {
  margin: 50px 150px;
}

#quatre_menus div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#quatre_menus div div {
  -webkit-box-shadow: 0.5px 0.5px 5px grey;
          box-shadow: 0.5px 0.5px 5px grey;
  height: 400px;
  margin: 30px;
  width: 100%;
}

#quatre_menus a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#quatre_menus a:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.60;
}

#quatre_menus h3 {
  font-size: 2.75em;
  margin: 0;
}

#menu1 {
  background-color: #fcdfdb;
}

#menu1 h2 {
  color: #3d1319;
  font-family: "Devonshire", cursive;
  font-size: 2.75em;
  font-weight: 400;
  margin: 0;
}

#menu1 h3 {
  font-family: "Kalam", cursive;
  color: #3d1319;
}

#menu1 i::before {
  background: -webkit-gradient(linear, left top, right top, from(#f9424d), to(rgba(249, 161, 130, 0.9)));
  background: linear-gradient(to right, #f9424d, rgba(249, 161, 130, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

#menu2 {
  background-color: #fff5fe;
}

#menu2 h2 {
  font-family: "Croissant One", cursive;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(198, 116, 18, 0.9)), color-stop(50%, rgba(165, 103, 153, 0.9)), color-stop(75%, rgba(110, 76, 204, 0.9)));
  background: linear-gradient(to right, rgba(198, 116, 18, 0.9) 25%, rgba(165, 103, 153, 0.9) 50%, rgba(110, 76, 204, 0.9) 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.75em;
}

#menu2 h3 {
  font-family: "Libre Caslon Text", serif;
  color: #c77412;
}

#menu3 {
  background-color: #ebeeef;
}

#menu3 h2 {
  font-family: "Parisienne", cursive;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #0431df), to(#54defd));
  background: linear-gradient(to right, #0431df 15%, #54defd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.25em;
}

#menu3 h3 {
  color: #0887fb;
  font-family: "Kalam", cursive;
  font-weight: 400;
}

#menu4 {
  background-color: #fdfffd;
}

#menu4 h2 {
  font-family: "Kaushan Script", cursive;
  background: -webkit-gradient(linear, left top, right top, from(#2f692d), color-stop(#b0e87a), to(rgba(246, 255, 117, 0.58)));
  background: linear-gradient(to right, #2f692d, #b0e87a, rgba(246, 255, 117, 0.58));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
}

#menu4 h3 {
  color: #72bf56;
  font-family: "Kalam", cursive;
  font-weight: 400;
}

#prochainement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#prochainement p {
  width: auto;
  margin: auto;
  margin-bottom: 125px;
  color: #fdcb46;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  background-color: #579c87;
  border-radius: 10px;
  padding: 10px 30px;
}

#prochainement span {
  width: 5px;
  height: 5px;
  background-color: #fdcb46;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
}

#prochainement span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#prochainement span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.premier_titre {
  font-size: 1.6em;
  font-family: sans-serif;
}

.menu_complet {
  -webkit-box-shadow: 0.5px 0.5px 5px grey;
          box-shadow: 0.5px 0.5px 5px grey;
  width: 70%;
  margin: auto;
  margin-bottom: 125px;
  max-width: 1200px;
  padding: 80px 0;
}

.menu_complet ul {
  margin: 50px 80px;
  padding: 0;
}

.menu_complet li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_complet li p:nth-child(2) {
  margin-left: 25px;
}

.menu_complet h3 {
  margin: 75px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_complet h3::before, .menu_complet h3::after {
  content: "";
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.menu_complet span {
  font-size: 1em;
  margin: 0 30px;
  white-space: nowrap;
}

.menu_complet span::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.menu_complet span:hover::after {
  width: 100%;
}

#menu_note {
  background-color: #fcdfdb;
}

#menu_note > i {
  display: block;
  text-align: center;
  font-size: 60px;
}

#menu_note > i + h2 {
  font-size: 2.5em;
  margin: 0;
}

#menu_note i::before {
  background: -webkit-gradient(linear, left top, right top, from(#f9424d), to(rgba(249, 161, 130, 0.9)));
  background: linear-gradient(to right, #f9424d, rgba(249, 161, 130, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu_note i:last-child {
  margin-right: 10px;
  font-size: 40px;
}

#menu_note h2:last-child {
  font-size: 2em;
  margin: 0;
}

#menu_note h2 {
  font-family: "Devonshire", cursive;
  font-weight: 400;
}

#menu_note h3::before {
  background-image: url("../lignes_menus/note1.png");
}

#menu_note h3::after {
  background-image: url("../lignes_menus/note2.png");
}

#menu_note h3 span {
  font-family: "Kalam", cursive;
}

#menu_note span::after {
  background: black;
}

#menu_note p {
  font-family: "Kalam", cursive;
}

#menu_note li p:nth-child(2) {
  font-weight: 600;
}

#menu_chic {
  background-color: #fff5fe;
}

#menu_chic h2 {
  font-family: "Croissant One", cursive;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(198, 116, 18, 0.9)), color-stop(50%, rgba(165, 103, 153, 0.9)), color-stop(75%, rgba(110, 76, 204, 0.9)));
  background: linear-gradient(to right, rgba(198, 116, 18, 0.9) 25%, rgba(165, 103, 153, 0.9) 50%, rgba(110, 76, 204, 0.9) 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
}

#menu_chic h3:first-child::before {
  background-image: url("../lignes_menus/chic1a.png");
}

#menu_chic h3:first-child::after {
  background-image: url("../lignes_menus/chic1b.png");
}

#menu_chic h3:first-child span::after {
  background: #c67412;
}

#menu_chic h3:first-child span {
  color: #c67412;
}

#menu_chic h3:nth-of-type(2)::before {
  background-image: url("../lignes_menus/chic2a.png");
}

#menu_chic h3:nth-of-type(2)::after {
  background-image: url("../lignes_menus/chic2b.png");
}

#menu_chic h3:nth-of-type(2) span::after {
  background: #a56799;
}

#menu_chic h3:nth-of-type(2) span {
  color: #a56799;
}

#menu_chic h3:nth-of-type(3)::before {
  background-image: url("../lignes_menus/chic3a.png");
}

#menu_chic h3:nth-of-type(3)::after {
  background-image: url("../lignes_menus/chic3b.png");
}

#menu_chic h3:nth-of-type(3) span::after {
  background: #6e4ccc;
}

#menu_chic h3:nth-of-type(3) span {
  color: #6e4ccc;
}

#menu_chic ul li:nth-child(-n+4) {
  color: #c67412;
}

#menu_chic ul li:nth-child(n+5) {
  color: #a56799;
}

#menu_chic ul li:nth-child(n+9) {
  color: #6e4ccc;
}

#menu_chic li p:nth-child(2) {
  font-size: 1.1em;
}

#menu_delice {
  background-color: #ebeeef;
}

#menu_delice h2 {
  font-family: "Parisienne", cursive;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #0431df), to(#54defd));
  background: linear-gradient(to right, #0431df 15%, #54defd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
}

#menu_delice h3, #menu_delice p {
  font-family: "Kalam", cursive;
  font-weight: 400;
}

#menu_delice h3:first-child::before {
  background-image: url("../lignes_menus/delice1a.png");
}

#menu_delice h3:first-child::after {
  background-image: url("../lignes_menus/delice1b.png");
}

#menu_delice h3:first-child span::after {
  background: #0228dd;
}

#menu_delice h3:first-child span {
  color: #0228dd;
}

#menu_delice h3:nth-of-type(2)::before {
  background-image: url("../lignes_menus/delice2a.png");
}

#menu_delice h3:nth-of-type(2)::after {
  background-image: url("../lignes_menus/delice2b.png");
}

#menu_delice h3:nth-of-type(2) span::after {
  background: #0670f3;
}

#menu_delice h3:nth-of-type(2) span {
  color: #0670f3;
}

#menu_delice h3:nth-of-type(3)::before {
  background-image: url("../lignes_menus/delice3a.png");
}

#menu_delice h3:nth-of-type(3)::after {
  background-image: url("../lignes_menus/delice3b.png");
}

#menu_delice h3:nth-of-type(3) span::after {
  background: #229df9;
}

#menu_delice h3:nth-of-type(3) span {
  color: #229df9;
}

#menu_delice li p:nth-child(2) {
  font-size: 1.1em;
}

#menu_palette {
  background-color: #fdfffd;
}

#menu_palette h2 {
  font-family: "Kaushan Script", cursive;
  background: -webkit-gradient(linear, left top, right top, from(#2f692d), color-stop(#b0e87a), to(rgba(246, 255, 117, 0.58)));
  background: linear-gradient(to right, #2f692d, #b0e87a, rgba(246, 255, 117, 0.58));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
}

#menu_palette h3, #menu_palette p {
  font-family: "Kalam", cursive;
  font-weight: 400;
}

#menu_palette h3::before, #menu_palette p::before {
  background-image: url("../lignes_menus/palette1.png");
}

#menu_palette h3::after, #menu_palette p::after {
  background-image: url("../lignes_menus/palette2.png");
}

#menu_palette span::after {
  background: #65b44f;
}

#menu_palette li p:nth-child(2) {
  font-size: 1.1em;
}

@media screen and (max-width: 900px) {
  #quatre_menus {
    margin: 50px;
  }
  .menu_complet {
    width: 90%;
  }
  .menu_complet ul {
    margin: 50px;
  }
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 4em;
    margin: 25px auto;
  }
  #quatre_menus div {
    display: block;
  }
  #quatre_menus div div {
    height: 350px;
    width: 350px;
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #quatre_menus div div a {
    margin: auto 15px;
  }
  .menu_complet ul {
    margin: 0 20px;
  }
  .menu_complet span {
    margin: 0 10px;
  }
  footer {
    font-size: 1.25em;
  }
  footer a {
    margin: 20px 0;
  }
}

@media screen and (max-width: 450px) {
  #quatre_menus div div {
    width: auto;
  }
  .menu_complet h2 {
    font-size: 1em;
    margin: auto 10px;
  }
}

@media screen and (min-width: 1600px) {
  #quatre_menus {
    margin: 50px 300px;
  }
  #mentions_legales {
    width: 50%;
  }
}

@media screen and (min-width: 2000px) {
  #quatre_menus div div {
    height: 550px;
  }
}
/*# sourceMappingURL=main.css.map */